<%- include('../partials/header.ejs', {}) %>
<section class="p-5">
    <div class="p-5">
        <div class="p-5">

    <h1><i class="fas fa-user-lock"></i> Admin Login</h1>
    <br/>
    <form action="/admin/login" method="POST" class="form">
        <label for="username" style="font-weight: bold;">Username</label>
        <input type="text" id="username" name="username" class="form-control border border-dark"/><br/><br/>
        
        <label for="password" style="font-weight: bold;">Password</label>
        <input type="password" id="password" name="password" class="form-control border border-dark"/><br/>
        
        <input type="submit" class="btn btn-outline-dark rounded" width="150px" height="50px">
    </form>
</div></div>
</section>

<%- include('../partials/footer.ejs', {}) %>