<script src="<%= font %>" crossorigin="anonymous"></script>
<footer class="p-2 shadow-lg">
    <p>
        <br/>
    <a href="https://github.com/Yolster/website" style="text-decoration: none; color:black;">This website is open source</a>
    <a href="https://twitter.com/theyolsters"><i class="fab fa-twitter float-end me-3" id="twitter"></i></a>&emsp;
    <a href="https://instagram.com/theyolsters"><i class="fab fa-instagram float-end me-3" id="instagram"></i></a>&emsp;
    <a href="https://discord.gg/RvwBAuXYGq"><i class="fab fa-discord float-end me-3" id="discord"></i></a>&emsp;
    </p>
</footer>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
</body>
</html>