<footer class="p-3 shadow-lg bg-dark text-light">
    <h5>
    <a href="https://github.com/Yolster/website" style="text-decoration: none; color:White;">This website is open source</a>
    <a href="https://twitter.com/theyolsters"><i class="fab fa-twitter float-end" id="twitter"></i></a>&emsp;
    <a href="https://instagram.com/theyolsters"><i class="fab fa-instagram float-end pe-2" id="instagram"></i></a>&emsp;
    <a href="https://discord.gg/RvwBAuXYGq"><i class="fab fa-discord float-end pe-2" id="discord"></i></a>&emsp;
</h5>
</footer>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
</body>
</html>