{
    "fontawesome":"https://use.fontawesome.com/releases/v5.15.3/css/all.css",
    "github_username":"Yolster",
    "sql":{
        "host":"localhost",
        "user":"root",
        "password":"",
        "db":"yolster"
    },
    "contact": {
        "email":"",
        "instagram":"",
        "twitter":"",
        "discord":""
    }
}