<link rel="stylesheet" href="/stylesheets/bootstrap.css">
<link rel="stylesheet" href="/stylesheets/style.css">

<section align="center" style="font-family: monospace; padding:250px"> 
    <h1 class="h1">
        404 Not Found
    </h1><br/>
    <a href="/"><button class="btn btn-outline-dark">Go Home</button></a>
</section>