body{
    padding: 5%;
}

#navbar-logo {
    width: 60px;
    height: 60px;
}

#index-logo {
    width:250px;
    height:250px;
    border: 1px solid black;
}

#index-text {
    font-weight: bold;
}

#repos {
    text-decoration: none;
    color: white;
}

#twitter , #instagram , #discord{
    color:black;
}

#twitter:hover {
    color:#00aced;
}

#instagram:hover {
    color: #f73846;
}

#discord:hover {
    color: #6d85d2;
}

.section-padding {
    padding: 5%;
}